{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'nav_bar.html' %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

<div class="wrapper">
    <p>An online platform which facilitates the customers to plan and schedule hair salon services</p>
    <br>
    <h1>Contact Us</h1>
    <p>Email: <a href="mailto:front.runners.seneca@gmail.com">front.runners.seneca@gmail.com</a></p>
    <p>Phone: +1 865 568 8278</p>
</div>

{% endblock content %}   