{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'nav_bar.html' %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">


<div class="form-wrapper">
    <form method="POST">
        {% csrf_token %}
        <div class="calender-wrapper">
            <label for="calender">Please choose the date and time</label>
            <input type="datetime-local" name="calender" id="calender" required>
        </div>

        <div class="services-wrapper">
            <label for="services">Please choose the required service</label>

            <select name="services" id="services" multiple required>
                <option value="HAIRCUTS">HAIRCUTS</option>
                <option value="EXTENSIONS">EXTENSIONS</option>
                <option value="COLOR">COLOR</option>
                <option value="TREATMENTS">TREATMENTS</option>
                <option value="STRAIGHTENING">STRAIGHTENING</option>
                <option value="CURLY HAIR">CURLY HAIR</option>
                <option value="HIGHLIGHTING">HIGHLIGHTING</option>
                <option value="STYLING">STYLING</option>
            </select>
        </div>

        <button class="btn" type="submit">
            Confirm Booking
        </button>
    </form>
</div>

{% endblock content %}  