{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'nav_bar.html' %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

<div class="wrapper">
<h1>Welcome to Front Runners Online Scheduling System</h1>

<div style="text-align: center"><img src="/static/images/logo.png" width="320" height="270.87" alt="logo"></div>

<div class="main-text">
<p><b>
    Team Front Runners is representing a project which will make the scheduling and planning of personal services easy and efficient.
    The objective of this project is to develop a user-friendly website where customers can book their salon appointment for hair services.
    Our system will schedule the appointment according to the availability of practitioners and will give timely notifications before their appointment.
    Moreover, this system will allow the customers to manage their services.
    If they have any personal engagement, they can reschedule or cancel their appointments by providing valid reasons.
    This will be convenient and easy for the customers especially in their busy lives.
</b></p>
    
</div>
</div>


{% endblock content %}   