{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'nav_bar.html' %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

<div class="wrapper">
<h1>Welcome to Hair Salon Scheduling System</h1>

<div class="main-text">
<p><b>
    <img src="/static/images/FrontRunners.png" ><br>
    Team Front Runners is representing a project which will make the scheduling and planning
    of personal services easy and efficient.
    The objective of this project is to develop a user-friendly website where a customer can
    book their salon appointment for hair services. Our system will schedule the appointment
    according to the availability of practitioners and will give timely notifications before their
    appointment.
    Moreover, this system will allow the customers to manage their services, they can
    reschedule or cancel their appointments at any time. This will be convenient and easy for
    the customers especially in their busy lives.
    Our focus is to provide a good working system in the defined period of time which will meet
    the needs of end customer.
</b></p>
    
</div>
</div>


{% endblock content %}   