{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<ul>
    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'register' %}">Sign up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
</ul>
{% endblock content %}