div.wrapper{
    background-color: rgba(32, 29, 27, 0.7);
    width: fit-content;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: saturate(180%) blur(10px);
    margin: auto;
    position: relative;
    top: 250px;
    font-size: large;
}

a{
    text-decoration: none;
    color: white;
}

div.wrapper {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


@media screen and (max-width: 1080px) {
    div.wrapper{
        position: relative;
        top: 200px;
        width: 300px;
    }
}