span{
    font-weight: lighter;
    color: rgb(79, 156, 245);
}

/*form styles*/
button.btn-reschedule {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #bd3c00;
    border-radius: 5px;
    border: 2px solid #bd3c00;
    padding: 15px 15px;
    transition: 0.5s;
    cursor: pointer;
    font-size: large;
}

button.btn-cancel {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #af271d;
    border-radius: 5px;
    border: 2px solid #af271d;
    padding: 15px 15px;
    transition: 0.5s;
    cursor: pointer;
    float: right;
    font-size: large;
}

button:hover {
    color: black;
    transition: 0.5s;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}


div.wrapper{
    background-color: rgba(32, 29, 27, 0.7);
    width: fit-content;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: saturate(180%) blur(10px);
    margin: auto;
    position: relative;
    top: 250px;
}


 div.bookings-details-wrapper{
    margin-bottom: 50px;
 }

 div.wrapper {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


@media screen and (max-width: 1366px) {
    div.wrapper{
        position: relative;
        top: 125px;
        bottom: 0px;
        font-size: small;
        display: grid;
    }

    button.btn-reschedule {
        float: left;
        margin-bottom: 30px;
    }
    
    button.btn-cancel {
        float: left;
    }
}