label{
    position: relative;
    margin-bottom: 30px;
    margin-right: 10px;
}


/*form styles*/
button {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #00AA66;
    border-radius: 5px;
    border: 2px solid #00AA66;
    padding: 10px 10px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    color: black;
    transition: 0.5s;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}


button::after{
    background-color: white;
}


select,input {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

select,input:focus {
    outline: none;
}

option {
    background-color: rgba(204, 200, 200, 0.7) !important;
    backdrop-filter: saturate(180%) blur(10px) !important;
    color: black;
}


div.form-wrapper{
    background-color: rgba(32, 29, 27, 0.7);
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: saturate(180%) blur(10px);
    margin: auto;
    position: relative;
    top: 250px;
    transition: width 2s, height 4s;
    font-size: large; 
}



div.xdsoft_datetimepicker{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 5px;
    padding: 5px 5px;
}

div.xdsoft_calendar{
    padding: 5px 5px;
}

th,.xdsoft_date,.xdsoft_time{
    color: black !important;
}


div.xdsoft_timepicker{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 5px;
}

div.xdsoft_label{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 5px;
}


div.xdsoft_today{
    background-color: rgba(32, 29, 27, 0.7);
}


div.xdsoft_date{
    color: black;
    font-weight: bold;
}


label::before{
    content: "\A";
    white-space: pre;
}

.errorlist {
    display: block;
    width: fit-content;
    background-color: rgba(211, 47, 47, 0.7) !important;
    color: rgb(255, 255, 255) !important;
    backdrop-filter: saturate(180%) blur(10px) !important;
    border-radius: 5px;
    padding: 5px 5px;
    list-style-type: none;
    font-size: small;
  }

  div.form-wrapper {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


@media screen and (max-width: 1080px) {
    div.form-wrapper{
        position: relative;
        top: 100px;
        width: 300px;
        display: grid;
        overflow: scroll;
    }

    
    button{
        float: left;
        margin-top: 50px;
        width: 100%;
    }
}

