label{
    position: relative;
}

/*form styles*/
button {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #00AA66;
    border-radius: 5px;
    border: 2px solid #00AA66;
    padding: 10px 10px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    color: black;
    transition: 0.5s;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}

input,select {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

input,select:focus {
    outline: none;
}


div.form-wrapper{
    background-color: rgba(32, 29, 27, 0.7);
    width: 350px;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: saturate(180%) blur(10px);
    margin: auto;
    position: relative;
    top: 250px;
    transition: width 2s, height 4s;
}

div.calender-wrapper{
 margin-bottom: 20px;
}

option{
    padding: 10px 10px;
}

@media screen and (max-width: 1366px) {
    div.form-wrapper{
        position: relative;
        top: 150px;
    }
}