/*main styles*/


table{
   margin: auto;
   margin-top: 100px;
   border-spacing: 20px;
   font-weight: bold;
}


td{
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 30px 30px;
    border-radius: 5px;
    font-size: larger;
    margin-left: 10px;
    width: 400px;
    transition: 0.5s;
    z-index: 2;
}

td:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
}


@media screen and (max-width: 1366px){
    td{
      font-size: small;
    }

    div.table-wrapper{
      display: grid;
    }
  
  }