

p{
    font-style: italic;
    margin-bottom: 100px;
}


/*form styles*/
button {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #00AA66;
    border-radius: 5px;
    border: 2px solid #00AA66;
    padding: 10px 10px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    color: black;
    transition: 0.5s;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
}


div.wrapper{
    background-color: rgba(32, 29, 27, 0.7);
    width: fit-content;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: saturate(180%) blur(10px);
    margin: auto;
    position: relative;
    top: 250px;
}

table{
    border-spacing: 4px;
    font-weight: bold;
    width: max-content;
 }
 
 th{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(9, 53, 146, 0.87);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 15px 15px;
    border-radius: 5px;
    font-size: larger;
    width: fit-content;
    transition: 0.5s;
    z-index: 2;
}
 
 td.table-data{
     text-align: center;
     color: black;
     background-color: rgba(255, 255, 255, 0.7);
     backdrop-filter: saturate(180%) blur(10px);
     padding: 5px 5px;
     border-radius: 5px;
     font-size: larger;
     width: fit-content;
     transition: 0.5s;
     z-index: 2;
 }


 div.bookings-wrapper{
    margin-bottom: 50px;
 }



@media screen and (max-width: 1366px) {
    div.wrapper{
        position: relative;
        top: 150px;
    }
}